main{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
section {
    border-radius: 5%;
    border-color: gray;
    border-style: inset;
    display: inline-block;
    padding: 2%;
    background-color: azure;
}
table{
    border: 1px solid black;
    text-align: center;
    border-collapse:collapse;
    border-spacing:0;
}
th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:18px;
    overflow:hidden;
    padding:10px 15px;
    word-break:normal;
    background-color: black;
    color: white;
}
tr {
    background-color: bisque;
}
td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
nav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
nav ul {
    list-style: none;
}
a.navbar{
    text-decoration: none;
    border-color: rebeccapurple;
    border-radius: 25px;
    border-width: 1px;
    border-style: outset;
    padding: 5%;
    margin-top: 2%;
    display: block;
    text-align: center;
    transition: color 0.5s, background-color 0.5s;
}
a.navbar:hover{
    background-color: rebeccapurple;
    color: white;
}
a.navbar:active{
    background-color: rebeccapurple;
    color: white;
}

.offpage {
  position: absolute;
  left: -1000px;
  display: block;
  margin-bottom: 20px;
}

.offpage:focus {
  position: static;
  line-height: normal ;
}